/bin
/obj
/.vs
/.vscode
/.idea
/.user
/.ionide
*.swp
*.swo
*.userprefs
*.suo
*.cache
*.DS_Store
*.pidb
*.pdb
*.ncrunchsolution
*.ncrunchproject
Thumbs.db
*.sql
*.bak
*.orig
*.log
*.pyc
*.swp
*.swo
packages/
TestResults/
*.VisualState.xml
_ReSharper.*
*.dotCover
*.sln.iml
*.userosscache
*.sln.docstates
*.jfm
*.pubxml
*.nupkg
.env
appsettings.Development.json
